# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.env
.env.*
.venv/
venv/
env/

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Test & Coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db